black
blackcellmagic
bokeh
boto3
botocore
codespell
configparser
cufflinks
dash
DateTime
Django
emoji
fastparquet
Flask
fzf-bin
GitPython
highspy
keyring
leaflet
matplotlib
moto
nested-lookup
nltk
numpy
openpyxl
pandas
plotly
pre-commit
pulp
pyaml
pyarrow==14.0.1
pycodestyle
pydantic
pylint
pymc
pyomo
pyOpenSSL==23.2.0
pytest
pytz
ruff
seedir
s3fs
scikit-learn
scipy
seaborn
selenium
siuba
snowflake
snowflake-connector-python==3.0.3
SQLAlchemy
sqlparse
statsmodels
thefuck
tqdm
tqdm
typing
typing_extensions
virtualenv
virtualenvwrapper
